<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RandaManga</title>
    <link type="image/x-icon" rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RandaManga.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body>
    <div class="headerDiv"> 
        <img src="~/images/icn.png" alt="Logo" class="logo">
        <div class="barDiv"></div>
    </div>
    @RenderBody()
    <p>1hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>2hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>6hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>h112kkjk</p>
    <p>h212312312241kkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjуцкпццупуцкцупk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
    <p>hkkjk</p>
</body>
</html>