
.notFoundLabel {
    position: absolute;
    margin: auto;
    text-align: center;
    margin-top: 20vh;
    left: 0;
    right: 0;
    width: 60vw;
    font-family: 'Segoe UI';
    color: #88495E;
    font-size: 5vh;
}

.catalogContainer {
    margin-top: 14vh;
    margin-left: 2vw;
    width: 78vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
    grid-row-gap: 1.5vh;
    grid-column-gap: 3vw;
}

.catalogMangaLink {
    border: 7px solid #503345;
    border-radius: 4px;
    width: 12vw;
    text-decoration: none;
}

.catalogImage {
    margin-top: -2px;
    background-color: #503345;
    width: inherit;
    object-fit: contain;
    border-bottom: 7px solid #503345;
    aspect-ratio: 1/1.58;
    object-fit: contain;
}

.catalogMangaLabel {
    height: 1.7vh;
    width: inherit;
    color: aliceblue;
    text-align: center;
    margin-top: -2px;
    font-family: 'Segoe UI';
    color: #88495E;
    font-size: 2vmin;
    font-weight: 600;
}

.catalogFilterDiv {
    background-color: transparent;
    position: absolute;
    top: 13vh;
    right: 20px;
    width: 16vw;
    height: 81vh;
    border: 7px solid #503345;
    border-radius: 7px;
}

.catalogFilterTagDiv {
    margin-top: 1vh;
    width: 90%;
    margin-left: 5%;
    height: 3.6vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    transition: background-color 0.3s ease,transform 0.4s ease;
    border: 3px;
}

.svgTagAddIcon {
    height: 3.7vh;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.filtersText {
    margin-top: 0;
    margin-left: 1.5vw;
    font-family: 'Segoe UI';
    color: #88495E;
    font-size: 2.6vh;
    font-weight: 600;
    transition: color 0.2s ease, transform 0.2s ease;
}

.catalogFilterTagDiv:hover {
    background-color: #b0a49b;
    border-color: #b0a49b;
    border-radius: 4px;
    transform: scale(1.05);
}

    .catalogFilterTagDiv:hover .filtersText {
        color: #503345;
        transform: scale(1.05);
    }

    .catalogFilterTagDiv:hover .svgAddIcon, .catalogFilterTagDiv:hover .svgLine {
        margin-top: -5%;
        fill: #503345;
        transform: scale(1.05);
    }

.tagsChoosingMode {
    background-color: transparent;
    display: none;
    width: 96%;
}

.tagsChoosingModeTopLayoutDiv {
    margin-left: 3%;
    height: 5vh;
    margin-top: 2%;
    position: sticky;
    z-index: 888;
    border-bottom: 6px solid #503345;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.svgBackIcon {
    margin-left: 10%;
    height: 90%;
    fill: #88495E;
    transition: fill 0.3s ease;
}

    .svgBackIcon:hover {
        fill: #503345;
        margin-top: -5%;
        height: 110%;
    }

.deleteAllTagsButton {
    height: 90%;
    border: 0.39vh solid #88495E;
    border-radius: 0.5vh;
    background-color: transparent;
    font-size: 1.9vh;
    color: #88495E;
    font-family: 'Segoe UI';
    font-weight: 600;
    transition: border-color 0.3s ease, font-size 0.2s ease, color 0.2s ease;
}

    .deleteAllTagsButton:hover {
        color: #503345;
        border-color: #503345;
        font-size: 2vh;
    }


.tagsList {
    margin-left: 3%;
    overflow-y: auto;
    margin-top: 2%;
    max-height: 85%;
    height: 70vh;
}

    .tagsList::-webkit-scrollbar {
        width: 0.4vw;
    }

    .tagsList::-webkit-scrollbar-track {
        background: #b0a49b;
    }

    .tagsList::-webkit-scrollbar-thumb {
        background: #88495E;
        border-radius: 0.16vw;
    }

        .tagsList::-webkit-scrollbar-thumb:hover {
            background: #503345;
        }


.tagChoosingDiv {
    display: grid;
    grid-template-columns: 8fr 1fr;
    width: 98%;
    height: 3vh;
    border-bottom: 4px solid #503345;
    margin-top: 4px;
}

.tagChoosingLabel {
    height: inherit;
    font-size: 2vmin;
    color: #88495E;
    font-family: 'Segoe UI';
    font-weight: 600;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagsChoosingModeBottomLayoutButton {
    margin-top: -0.5%;
    width: 60%;
    height: 4.8%;
    border: 6px solid #88495E;
    border-radius: 0.5vh;
    background-color: transparent;
    font-size: 2.1vh;
    color: #88495E;
    font-family: 'Segoe UI';
    font-weight: 600;
    transition: border-color 0.3s ease, font-size 0.2s ease, color 0.2s ease, height 0.1s ease, width 0.2s ease;
}

    .tagsChoosingModeBottomLayoutButton:hover {
        color: #503345;
        border-color: #503345;
        font-size: 2.3vh;
        width: 64%;
        height: 5.1%;
    }

.allOtherFiltersDiv {
    margin-top: 3%;
    height: 92%;
}

.allFiltersForm {
    width: 100%;
    height: 100%;
}

.formLabel {
    margin-top: 8%;
    margin-left: 4%;
    width: 92%;
    font-size: 2.4vmin;
    color: #503345;
    font-family: 'Segoe UI';
    font-weight: 700;
}

.yearRangeInput {
    margin-left: 5%;
    width: 90%;
    margin-top: -4%;
    height: 3.6%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 5fr;
    justify-items: center;
}

.yearInputField {
    height: 70%;
    width: 85%;
    background-color: transparent;
    border: 0.25vh solid #88495E;
    border-radius: 0.5vh;
    color: #88495E;
    font-size: 170%;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 500;
}

.auxiliaryText {
    color: #88495E;
    font-size: 110%;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 500;
    text-align: center;
}

.ageRaitingContainer {
    margin-top: -10%;
    height: 4%;
    width: 96%;
    display: grid;
    grid-template-columns: 36% 11% 16% 11% 16% 11%;
    align-items: center;
}

.ageRaitingCheckbox {
    height: 45%;
}

.ageRaitingLabel {
    color: #88495E;
    font-size: 1.64vmin;
    text-align: right;
    font-family: 'Segoe UI';
    font-weight: 500;
}

.mangaTypeContainer {
    height:10%;
    margin-left: 4%;
    width: 78%;
    margin-top: -10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

    .mangaTypeContainer input {
        margin-top: 20%;
        height:60%;
    }

.mangaTypeLabel {
    height:1.2vh;
    margin-top:3%;
    color: #88495E;
    font-size: 2.0vmin;
    text-align: right;
    font-family: 'Segoe UI';
    font-weight: 500;
    text-align: left;
}

.FormButtonsContainer {
    background-color: blanchedalmond;
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filterFormButtons {
}
