
.catalogContainer {
    margin-top: 14vh;
    margin-left:2vw;
    width: 78vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10.5vw, 1fr));
    grid-row-gap: 1.5vh;
    grid-column-gap:3vw;
}

.catalogMangaLink {
    border: 7px solid #503345;
    border-radius:4px;
    width: 10.5vw;
    text-decoration:none;
   
}
.catalogImage {
    width: inherit;
    object-fit: contain;
    border-bottom: 7px solid #503345;
    aspect-ratio: 1/1.58;
    object-fit: contain;
}

.catalogMangaLabel {
    height:1.7vh;
    width: inherit;
    color: aliceblue;
    text-align: center;
    margin-top: -2px;
    font-family: 'Segoe UI';
    color: #88495E;
    font-size:2.1vmin;
    font-weight: 600;
}
.catalogFilterDiv {
    background-color: transparent;
    position: absolute;
    top: 13vh;
    right: 20px;
    width: 16vw;
    height: 81vh;
    border: 7px solid #503345;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    
}
.catalogFilterTagDiv {
    margin-top: 1vh;
    right: 20px;
    width: 15vw;
    height: 3.6vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    transition: background-color 0.3s ease,transform 0.4s ease;
    border: 3px;
}
.svgTagAddIcon {
    height: 65%;
    transition: fill 0.2s ease, transform 0.2s ease;
}
.filtersText {
    margin-top: 0;
    margin-left: 1.5vw;
    font-family: 'Segoe UI';
    color: #88495E;
    font-size: 2.6vh;
    font-weight: 600;
    transition: color 0.2s ease, transform 0.2s ease;
  
    
}
.catalogFilterTagDiv:hover {
    background-color: #b0a49b;
    border-color: #b0a49b;
    border-radius: 4px;
    transform: scale(1.05);
}

    .catalogFilterTagDiv:hover .filtersText {
        color: #503345;
        transform: scale(1.05);
    }

    .catalogFilterTagDiv:hover .svgAddIcon, .catalogFilterTagDiv:hover .svgLine {
        margin-top:-5%;
        fill: #503345;
        transform: scale(1.05);
    }
.tagsChoosingMode {
    background-color: transparent;
    display: none;
    width: 96%;
}
.tagsChoosingModeTopLayoutDiv {
    height: 5%;
    margin-top: 2%;
    position: sticky;
    z-index: 888;
    border-bottom: 6px solid #503345;
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.svgBackIcon {
    margin-left: 10%;
    height: 90%;
    fill: #88495E; 
    transition: fill 0.3s ease; 
}

    .svgBackIcon:hover {
        fill: #503345;
        margin-top:-5%;
        height: 110%;
    }

.deleteAllTagsButton {
    height: 90%;
    border: 0.39vh solid #88495E;
    border-radius: 0.5vh;
    background-color: transparent;
    font-size: 1.9vh;
    color: #88495E;
    font-family: 'Segoe UI';
    font-weight: 600;
    transition: border-color 0.3s ease, font-size 0.2s ease, color 0.2s ease;
}

    .deleteAllTagsButton:hover {
        color: #503345;
        border-color: #503345;
        font-size: 2vh;
    }


.tagsList {
    overflow-y: auto;
    margin-top: 5%;
    max-height: 90%;
}
    .tagsList::-webkit-scrollbar {
        width: 0.4vw; /* Задаем ширину полосы прокрутки */
    }
    .tagsList::-webkit-scrollbar-track {
        background: #b0a49b;
    }

    .tagsList::-webkit-scrollbar-thumb {
        background: #88495E;
        border-radius: 0.16vw;
    }

        .tagsList::-webkit-scrollbar-thumb:hover {
            background: #503345;
        }
