@font-face {
    font-family: 'Gill Sans Ultra Bold Condensed';
    src: url('/fonts/gill_sans_ultra_bold_condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainLogo {
    position: absolute;
    top: 3vh;
    left: 0;
    right: 0;
    width: 48vw;
    height: 30vh;
    margin: auto;
    background-color: transparent;
}

.logoFirstWord {
    font-size: 22vmin;
    font-family: 'Gill Sans Ultra Bold Condensed', fallback, sans-serif;
    font-weight: 600;
    color: #88495E;
    background-color: transparent;
    margin-top: 7vh;
}

.logoSecondWord {
    font-size: 25vmin;
    font-family: 'Gill Sans Ultra Bold Condensed', fallback, sans-serif;
    font-weight: 600;
    color: #503345;
    background-color: transparent;
    text-align: right;
    margin-top: -27vh;
}

.infoDiv {
    position: absolute;
    top: 66vh;
    left: 0;
    right: 0;
    width: 70vw;
    height: 19vw;
    margin: auto;
    background-color: transparent;
    border-left: 7px solid #503345;
    border-right: 7px solid #503345;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
}

.infoText {
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #88495E;
    font-size: 3.8vmin;
}

.infoFirstWord {
    font-family: 'Gill Sans Ultra Bold Condensed', fallback, sans-serif;
    font-weight: 600;
    color: #503345;
    font-size: 4.5vmin;
}


.expertsRecommendationHeader {
    margin-left: 30%;
    width: 40%;
    text-align: center;
    color: #88495E;
    font-family: 'Segoe UI';
    font-size: 5vmin;
    font-weight: 600;
    margin-top: 59%;
    border-bottom: 7px solid #503345;
}

.expertsRecommendationContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 122vh;
    height: 90vh;
    width: 90%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap:1vh;
}

.expertsRecommendation {
    border: 7px solid #503345;
    border-radius: 1.3vmin;
    padding: 0.5%;
    display: grid;
    grid-template-columns: 1.2fr 7fr;
    grid-gap: 1%;
    text-decoration: none;
}

.expertsRecommendationImg {
    width:100%;
    object-fit: contain;
    aspect-ratio: 1/1.4;
}
.expertsRecommendationLabel {
    margin-top: 0;
    text-align: left;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #503345;
    font-size: 4.5vmin;

}

.expertsRecommendationTags {
    height: 14%;
    margin-top: -2.6%;
    display: flex;
    align-items: center;
    width:100%;
    gap: 1.2%;
}
.tagLabel {
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #503345;
    font-size: 3.6vmin;
}
.tagInExpertsRecommendation {
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #88495E;
    font-size: 2.6vmin;
    background-color: #b0a49b;
    border: 7px solid #b0a49b;
    border-radius: 0.4vmin;
}
.expertsRecommendationDescription {
    font-family: 'Segoe UI';
    font-weight: 500;
    color: #88495E;
    font-size: 2.23vh;
    margin-bottom:0;
    margin-top:1%;
    background-color:aliceblue;
}