@page
@model RandaManga.Pages.CatalogModel

<div class="catalogContainer">
    @foreach (RandaManga.Models.Manga item in Model.mangaList)
    {
        <a class="catalogMangaLink">
            @item.Name;
        </a>
        
    }
</div>