@page
@model IndexModel
@{
    ViewData["Title"] = "RandaManga";
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<div class="mainLogo">
    <p class="logoFirstWord">Randa</p>
    <p class="logoSecondWord">Manga</p>
</div>
<div class="infoDiv">
    <p class="infoText">
        <span class="infoFirstWord">
            RandaManga
        </span>
         — это сервис, который поможет вам легко и быстро выбрать интересную мангу, манхву или маньхуа
    </p>
</div>
