@page
@model IndexModel
@{
    ViewData["Title"] = "RandaManga";
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<div class="mainLogo">
    <p>Randa</p>
    <p>Manga</p>
</div>
