@page "{id}"
@model RandaManga.Pages.MangaPageModel
@{
    <div class="mangaCoverContainer">
        <img class="mangaCoverImg" src="@Model.MangaToShow.GetFullImagePath()">
    </div>
    <p class="mangaName">@Model.MangaToShow.Name</p>
    <div class="mangaInfoContainer">
    </div>
}
